    .recent-container {
  background: #fff;
  border-radius: 3px;  
  box-shadow: inset 0px 10px 10px -5px #00950050,   /* Top shadow */
    inset 0px -10px 10px -5px #00950050,  /* Bottom shadow */
    inset 10px 0px 10px -5px #00950050,   /* Left shadow */
    inset -10px 0px 10px -5px #00950050;  /* Right shadow */
}

.vertical-container {
  display: grid;
  grid-template-columns: repeat(3, 110px); 
  grid-auto-rows: 140px; 
  gap: 10px;
  justify-content: center;
  justify-items: center; /* within grid cell */
  padding: 0 10px;
}

.vertical-item {
  text-align: center; 
  width: 100px; 
  height: 100px;
}

.vertical-item .image-space {
  width: 100px; 
  height: 100px; 
  display: inline-block;
  background: linear-gradient(to bottom right, #00950025, #ffffff);
  border-radius: 10px;
}

.vertical-item img {
  width: 80%; 
  height: 80%; 
  display: block;
  padding: 10px;
}

.vertical-item a {
  text-decoration: none;
}

.vertical-item .name {
  font-size: 9px;
  font-weight: bold; 
  color: #1e90ff; 
  margin-top: 5px;
}

.vertical-item .price {
  font-size: 10px; 
  font-weight: bold; 
  color: #1e90ff;
}

   @media (min-width: 768px) 
        {
    .vertical-container  {
      justify-content: center;}
      
      .center-h1 {
        text-align: center !important;
        margin-left: 0 !important;
      }
    }    
