    .bottom-nav {
       width: 100%; 
       max-width: 600px;
       margin: 0 auto;
       display: flex; 
       justify-content: space-around; 
       position: fixed; 
       bottom: 0; 
       left: 50%; 
       transform: translateX(-50%); 
       background: #000; 
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);    
       padding: 4px 0; 
       z-index: 10;    
}

    .nav-item {
       text-align: center; 
       color: #fff; 
       text-decoration: none; 
       font-size: 10px; 
       display: flex; 
       flex-direction: column; 
       align-items: center; 
       justify-content: center;
    }
    .nav-item img {
       width: 30px; 
       height: 30px; 
       object-fit: cover; 
       margin-bottom: 0px;
    }  
    .fullscreen-menu {
       visibility: hidden; 
       opacity: 0; 
       position: fixed; 
       top: 0; 
       left: 0; 
       width: 100%; 
       height: 100%; 
       background-color: #000; 
       color: #fff; 
       z-index: 5; 
       padding-top: 50px; 
       overflow-y: auto; 
       text-align: left; 
       transition: visibility 0s, opacity 0.3s ease-in-out; 
    }
    .fullscreen-menu button {
       position: absolute; 
       top: 10px; 
       right: 20px; 
       background-color: transparent; 
       border: none; 
       color: #fff; 
       font-size: 40px; 
       cursor: pointer; 
       margin-top: 20px;
    }
    .fullscreen-menu ul {
        list-style-type: none; 
        padding-left: 20px; 
        margin-top: 0;
    }
    .fullscreen-menu li {
        margin: 20px 0;
    }
    .fullscreen-menu a {
        color: #fff; 
        text-decoration: none; 
        font-size: 20px;
    }    
