 .main-containerA1 {
            width: 100%;
            max-width: 400px;
            padding: 10px;
            white-space: nowrap;
            box-sizing: border-box;
            background: linear-gradient(to bottom, #00950099, #ffffff);
        }

        .category-containerA1 {
            display: grid;
            grid-template-columns: repeat(4, 1fr); /* 4 categories per row */
            gap: 10px;
            margin-top: 10px;
        }

        .categoryA1 {
            text-align: center;
            cursor: pointer;
            position: relative;
        }

        .categoryA1 img {
            width: 80px;
            height: 80px;
            border-radius: 10px;
        }

        .categoryA1-text {
            font-weight: bold;
            margin-top: 5px;
            font-size: 10px;
            color: #0092ff;
        }

        /* overlayA1 for background dimming */
        .overlayA1 {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: none; /* Hidden by default */
            z-index: 1;
        }

        /* popupA1 Styling */
        .popupA1 {
            position: absolute;
            background-color: white;
            border: 2px solid green;
            border-radius: 10px;
            width: 200px;
            height: 200px;
            box-sizing: border-box;
            padding: 10px;
            display: none; /* Hidden by default */
            z-index: 2;
            overflow: hidden;
        }

        .images-containerA1 {
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* 3 items per row */
            gap: 10px;
            overflow-y: auto; /* Enable vertical scrolling */
            height: 100%; /* Fill the popupA1 */
        }

        .images-containerA1 a {
            text-align: center;
            text-decoration: none;
        }

        .images-containerA1 img {
            width: 50px;
            height: 50px;
            border-radius: 10px;
            display: block;
            margin: 0 auto;
        }

        .images-containerA1 .popupA1-text {
            font-size: 12px;
            color: black;
            margin-top: 5px;
        }