    .main-containerA1 {
            width: 100%;
            max-width: 400px;
            padding: 10px;
            white-space: nowrap;
            box-sizing: border-box;
            
            background: linear-gradient(to bottom, #009500, #ffffff);
        }

        .category-containerA1 {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 5px;
            margin-top: 10px;
            overflow-x: auto;
        }

        .categoryA1 {
            text-align: center;
            cursor: pointer;
            position: relative;
            margin-left: 10px;
            margin-right: 10px;
        }

        .categoryA1 img {
            width: 80px;
            height: 80px;
            border-radius: 10px;
        }

        .categoryA1-text {
            font-family: sans-serif;
            font-weight: bold;
            margin-top: 5px;
            font-size: 10px;
            color: #006400;
            white-space: wrap;
            line-height: 1;
            
        }

        .overlayA1 {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.9);
            display: none; 
            z-index: 1;
        }

        /* popupA1 Styling */
        .popupA1 {
            position: absolute;
            background-color: white;
            border: 2px solid green;
            border-radius: 10px;
            width: 70%;
            height: 70%;
            box-sizing: border-box;
            padding: 10px;
            display: none; /* Hidden by default */
            z-index: 2;
            overflow: hidden;
        }

        .images-containerA1 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 5px;
            overflow-y: auto;
            overflow-x: hidden;
            height: 100%; 
        }

        .images-containerA1 a {
            text-align: center;
            text-decoration: none;
        }

        .images-containerA1 img {
            width: 70px;
            height: 70px;
            border-radius: 10px;
            display: block;
            margin: 0 auto;
        }

        .images-containerA1 .popupA1-text {
            font-size: 12px;
            white-space: wrap;
            font-weight: bold;
            color: black;
            margin-top: 5px;
        }
        ::-webkit-scrollbar {
            display: none; /* For Chrome, Safari, and Edge */
        }

          @media (min-width: 768px) {
    .main-containerA1 {
        width: 100vw; 
        max-width: none; 
        margin-left: 0px;
               
        }
    .category-containerA1 {    
            margin: 20px 200px;            
        }
}         
