  .hz-categories {
 width: cal(100% -10px);
 max-width: 600px;
 margin: 0 auto;
 padding: 10px;  
 font-family: 'PT Sans', sans-serif;
  background: linear-gradient(to top right, #00950050, #fff);
  border-radius: 10px;  
  box-shadow: inset 0px 10px 10px -5px #00950050,   /* Top shadow */
    inset 0px -10px 10px -5px #00950050,  /* Bottom shadow */
    inset 10px 0px 10px -5px #00950050,   /* Left shadow */
    inset -10px 0px 10px -5px #00950050;  /* Right shadow */
}

.hz-container {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(1, 120px);
  grid-auto-flow: column; 
  column-gap: 25px;
  justify-content: start; 
  padding: 0 10px;
  overflow-x: auto;
  overflow-y: hidden; 
  
}

.hz-item { 
  width: 80px; 
  height: 80px;
  
}

.hz-item .image-space {
  width: 80px; 
  height: 80px; 
  display: inline-block;
  background: radial-gradient(circle, #00950050, #00950000);
  border-radius: 50px;
}

.hz-item img {
  width: 90%; 
  height: 90%; 
  display: block;
  padding: 2px;
}

.hz-item a {
  text-decoration: none;
}

.hz-item .name {
  font-size: 9px;
  font-weight: bold;
  text-align: center;
  color: #1e90ff; 
  margin-top: 5px;
  white-space: wrap;
  line-height: 0.9em;
}

.hz-item .price {
  font-size: 10px; 
  font-weight: bold; 
  color: #009500;
  margin-top: 5px;
}
             .hz-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 10px;
                color: #1e90ff;
                font-weight: bold;
                font-size: 16px;
                margin-left: 20px;
                font-style: italic;
            }

            .hz-title a {
                text-decoration: none;
                margin-right: 20px;
                color: #009500;
                font-size: 14px;
            }
