              .box {
  width: calc(100% - 20px);
  max-width: 600px;
  margin: 0 auto;
  height: auto;
  border-radius: 5px;
  background-color: #00950000;             
  margin-top: 2px;
  padding-left: 10px;              
  padding-right: 10px;
  box-shadow: inset 0px 10px 10px -5px #00950025,   /* Top shadow */
    inset 0px -10px 10px -5px #00950025,  /* Bottom shadow */
    inset 10px 0px 10px -5px #00950025,   /* Left shadow */
    inset -10px 0px 10px -5px #00950025;  /* Right shadow */
              }
            
            .subcategory2-container {
                background: linear-gradient(to right top, #009500, #fff)
                padding: 0px;
                margin-top: 10px;
                max-width: 100%;
                box-sizing: border-box;
            }

            .horizontal-container {
                display: flex;
                gap: 10px;
                padding: 0 10px;
                overflow-x: auto;
                justify-content: flex-start;
                position: relative;
                width: 100%;
                box-sizing: border-box;
            }

            

            .horizontal-item {
                text-align: center;
                width: 100px;
                height: 110px;
            }

            .horizontal-item .image-space {
                width: 80px;
                height: 80px;
                display: inline-block;
                background: linear-gradient(to bottom right, #00950099, #ffffff);
                margin: 0 auto;
                border-radius: 10px;
            }

            .horizontal-item img {
                width: 100%;
                height: 100%;
                display: block;
            }

            .horizontal-item a {
                text-decoration: none;
            }

            .horizontal-item .name {
                font-size: 9px;
                font-weight: bold;
                color: #000;
                margin-top: 5px;
                line-height: 1em;
            }

            .sub-category {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px 10px;
                color: #000;
                font-weight: bold;
                font-size: 16px;
                font-style: italic;
            }

            .sub-category a {
                text-decoration: none;
                color: #009500;
                font-size: 14px;
            }
