    .delivery-heading {
      font-size: 26px;
      font-family: 'Oswald', sans-serif;
      color: #009500;
      text-shadow: 
        -1px -1px 0 white, 
        1px -1px 0 white, 
        -1px 1px 0 white, 
        1px 1px 0 white;
      font-weight: 700;
      margin: 10px; 
      margin-left: 5px;
      margin-top: 10px;
      margin-bottom: 0px;
    }
    .location-container {
      display: flex;
      align-items: center;
      white-space: nowrap;
      margin: 5px;
    }
    .location-icon {
      display: flex;
      align-items: left;
      margin-top: 0px;
      margin-left: -15px;
    }
    .location-select {
      position: relative;
      margin-top: -10px;
      margin-left: -10px;
    }
    .location-button {
      font-size: 12px;
      background: white;
      border: 1.5px solid #009500;
      border-radius: 5px;
      padding: 5px 28px;
      cursor: pointer;
      margin-top:-10px;
      outline: none;
    }
    .location-menu {
      display: none;
      position: absolute;
      top: 35px;
      left: 0;
      background: white;
      border: 1px solid #009500;
      border-radius: 10px;
      width: 200px; /* Updated width */
      z-index: 1000;
    }
    .location-menu a {
      display: block;
      padding: 10px;
      text-decoration: none;      
      color: #009500;
      border-bottom: 1px solid #e0e0e0;          
    }
    .initial {
      font-weight:bold; 
      font-size:20px; 
      font-family: 'Krona One', sans-serif;       
    }    
    .location-menu a:last-child {
      border-bottom: none;
    }
    .location-menu a:hover {
      background: #f0f0f0;
    }

    /* Dimmed background */
    .dim-overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7); 
      z-index: 999; 
    }
    .right-cards-container {
      width: 170px; /* Reduced width */
      height: 50px; /* Reduced height */
      overflow: hidden;
      position: relative;
      border-radius: 10px;
      text-align: left;
    }
    .card {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(to right, #009500, #ffffff);
      box-shadow: 
        -1px -1px 0 white, 
        1px -1px 0 white, 
        -1px 1px 0 white, 
        1px 1px 0 white;
      color: white;
      font-size: 16px;
      font-weight: bold;
      border-radius: 10px;
      transform: translateY(100%);
      opacity: 0;
      transition: all 0.8s ease-in-out;
      margin-right: 5px;
      margin-left: 1px;
      margin-top: 20px;
      margin-bottom: 2px;
    }
    .card.active {
      transform: translateY(0);
      opacity: 1;
      
    }      
                 
                  /* popup */       
        .popup {
            font-family: sans-serif;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            width: 80%;
            max-width: 600px;
            height: 80%;
            border-radius: 15px;
            border: 2px solid #009500;
            z-index: 1000;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            display: none;
        }

         .popup-header {    
           font-weight: bold;
           font-size: 12px;
           position: fixed;
           width: 100%;
           top: 5px;
           padding: 10px;
           box-sizing: border-box;
           background: white;
           border-radius: 15px 15px 0 0;
           z-index: 1010;
           display: flex;
           align-items: center;
           justify-content: space-between; 
        }

        .close-link, .back-link {
            color: red;
            font-family: sans-serif;
            text-decoration: none;
            font-weight: bold;
            font-size: 10px;
            position: absolute;
            right: 5px;       
            top: 5px;
        }

        .popup-title {
           text-align: center;
           font-family: sans-serif;
           font-style: italic;
           color: black;
           margin: 0;
           margin-top: -50px;
           font-size: 16px;
           flex: 1; 
           border-bottom: 1px solid #ccc;
        }

        .popup-content {
            font-weight: bold;
            margin-top: 40px;
            padding: 10px;
            overflow-y: auto;
            height: 520px;
            text-align: left;
            line-height: 1.2;
        }

        .popup-content a {
            display: block;
            margin: 10px 0;
            color: #009500;
            text-decoration: none;
            position: relative;
            z-index: 1010;   
        }       
         .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            display: none;
            z-index: 999;
        }

    @media (min-width: 768px) {
    .delivery-heading {
        margin-top: 20px;
        margin-left: 0px;
    }
    .popup-header {     
        top: -10px;
    }
    .location-icon {
        margin-left: 0px;
    }
    .location-select {      
      margin-top: 40px;
    }
    .delivery-card {
        width: auto; 
        padding: 10px; 
        margin-left: 0px;
    }

    .delivery-card-container {
        padding-top: 20px;
        
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh !important;
    }
    .right-cards-container {
        width: 180px;
    }
    .card {
        margin-left: 20px;
        }
    }   
